<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e_robotiq">

  <xacro:include filename="$(find ur_robotiq_description)/urdf/ur3e_urdf.xacro"/>

  <!-- 2) ros2_control makró for the arm -->
  <xacro:ur_ros2_control
    name="ur3e"
    sim_ignition="true"
    use_fake_hardware="false"
    initial_positions="${dict(shoulder_pan_joint=0,shoulder_lift_joint=-1.57,elbow_joint=0,wrist_1_joint=-1.57,wrist_2_joint=0,wrist_3_joint=0)}"
    script_filename=""
    output_recipe_filename=""
    input_recipe_filename=""
    tf_prefix=""
    script_sender_port=""
    reverse_port=""
    reverse_ip=""
    non_blocking_read="true"
    robot_ip="0.0.0.0"
    hash_kinematics="dummy_hash"
  />

  <!-- 3) gripper include és makróhívás -->
  <xacro:include filename="$(find ur_robotiq_description)/urdf/robotiq_2f_85_urdf.xacro" />
  <xacro:robotiq_gripper
    name="robotiq"
    prefix=""
    parent="wrist_3_link"
    sim_ignition="true"
    use_fake_hardware="false"
    fake_sensor_commands="false"
    include_ros2_control="true"
    com_port="/dev/ttyUSB0">
    <origin xyz="0 0 0" rpy="0 0 0"/>

  </xacro:robotiq_gripper>

</robot>
